:root {
  --white: white;
  --black: black;

  --font-size: medium;
  --font-family: "fig-tree";
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #213547;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.Titles {
  color: var(--color);
  width: 100%;
}

img {
  width: 10%;
}

#currentimg {
  width: 100%;
}

#Title {
  width: 100%;
  color: var(--color);
  font-size: 100px;
  line-height: 1.1;
  text-align: center;
  font: var(--font-family);
}

#Smoltitle {
  width: 100%;
  color: var(--color);
  font-size: 10px;
  line-height: 0.65;
  text-align: center;
  font: var(--font-family);
}

.inputsntemplates {
  width: 50%;
  height: 100%;
  margin: 5px auto;
  padding: 1%;
}
.Templates {
  width: 100%;
  height: 20%;
  margin: 5px auto;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.templateselect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.inputsbox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
