:root {
  --color1: white;
  --color2: black;
  --btnclr: grey;

  --font-size: medium;
  --font-family: "fig-tree";
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: black;
  }
  button {
    background-color: grey;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: black;
    background-color: white;
  }
  button {
    background-color: grey;
  }
}

/* :root.light {
  --color1: white;
  --color2: black;
  --btnclr: grey;

  --font-size: medium;
  --font-family: "fig-tree";
}

:root.dark {
  --color1: black;
  --color2: white;
  --btnclr: grey;

  --font-size: medium;
  --font-family: "fig-tree";
} */

.lighttodarkswitch {
  width: 1000px;
  height: 100px;
  font-size: medium;
  font-family: var(--font-family);
}

body {
  color: var(--color2);
  background-color: var(--color1);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.Titles {
  width: 100%;
}

.memepreview {
  width: 100%;
  height: 100%;
}

img {
  width: 10%;
  height: 10%;
}

.previewimgdiv {
  width:50%;
  height: 50%;
  position: relative;
}

.previewimg {
  width: 100%;
  height: 100%;
}

#currentimg {
  width: 100%;
}

#Title {
  width: 100%;
  color: var(--color2);
  font-size: 100px;
  line-height: 1.1;
  text-align: center;
  font-family: var(--font-family);
}

#Smoltitle {
  width: 100%;
  color: var(--color2);
  font-size: 10px;
  line-height: 0.65;
  text-align: center;
  font-family: var(--font-family);
}

.inputsntemplates {
  width: 50%;
  height: 100%;
  margin: 5px auto;
  padding: 1%;
}

.Templates {
  width: 100%;
  height: 20%;
  margin: 5px auto;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.templateselect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inputsbox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input {
  text-align: justify;
  flex-wrap: wrap;
  position: absolute;
  top: 10px;
  left: 50%;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black;
}

.filters {
  height: 20px;
  width: 25%;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.filterslabel {
  color: var(--color2);
  font-size: var(--font-size);
  font-family: var(--font-family);
}